
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bradcam_area bradcam_bg_2" style="background-image:url(/img/banner/bradcam2.png)">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>WELCOME TO TRAVELO!</h3>
                    <p>Let's start a new Journey</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="where_togo_area" style="background-color:white">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3">
                <div class="form_area">
                    <h3 style="color:black">Where you want to go?</h3>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="search_wrap">
                    <form class="search_form" action="~/Home/getFlightDetails">
                        <div class="input_field">
                            <input type="text" style="color:black" placeholder="Where to go?" name="Destination">
                        </div>
                        <div class="input_field">
                            <input type="text" style="color:black" placeholder="Date DD/MM/YYYY" name="Date">
                        </div>
                        <div class="input_field">
                            <input type="text" style="color:black" placeholder="From (Current City)" name="from">
                        </div>   
                        <div class="search_btn">
                            <button class="boxed-btn4 " type="submit">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>


</body>
</html>
